@model FinalApp.Models.ProductViewModel

@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="product.CategoryId" class="control-label">Category</label>
                <select asp-for="product.CategoryId" class="form-control">
                    @foreach (Category item in Model.Categories)
                    {
                        <option value="@item.CategoryId">@item.CategoryName</option>
                    }
                </select>
                <span asp-validation-for="product.CategoryId" class="text-danger"></span>
                <a asp-area="" asp-controller="Category" asp-action="Create">Add Category</a>
            </div>
            
            <div class="form-group">
                <label asp-for="product.ProductName" class="control-label">Product Name</label>
                <input asp-for="product.ProductName" class="form-control" />
                <span asp-validation-for="product.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product.PurchaseDate" class="control-label">Purchase Date</label>
                <input type="date" asp-for="product.PurchaseDate" class="form-control" />
                <span asp-validation-for="product.PurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product.ExpirationDate" class="control-label">Expiration Date</label>
                <input type="date" asp-for="product.ExpirationDate" class="form-control" />
                <span asp-validation-for="product.ExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

