@model FinalApp.Models.ProductViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Product</h4>
<hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Product.ProductId" />
                <div class="form-group">
                    <label asp-for="Product.CategoryId" class="control-label">Category</label>
                    <select asp-for="Product.CategoryId" class="form-control">
                        @foreach (Category item in Model.Categories)
                        {
                            <option value="@item.CategoryId">@item.CategoryName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Product.ProductName" class="control-label">Product Name</label>
                    <input asp-for="Product.ProductName" class="form-control" />
                    <span asp-validation-for="Product.ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product.PurchaseDate" class="control-label">Purchase Date</label>
                    <input asp-for="Product.PurchaseDate" class="form-control" />
                    <span asp-validation-for="Product.PurchaseDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product.ExpirationDate" class="control-label">Expiration Date</label>
                    <input asp-for="Product.ExpirationDate" class="form-control" />
                    <span asp-validation-for="Product.ExpirationDate" class="text-danger"></span>
                </div> <div class="form-group">
                    <input asp-for="Product.UserName" type="hidden"class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>


    <div>
        <a asp-action="Index">Back to List</a>
    </div>

